**/bin
**/obj

**/.vs
**/.vscode

**/.env
**/.env.local
**/appsettings.Development.json

**/.git
**/.gitignore
**/.gitmodules

**/docker-compose.yml
**/docker-compose.*.yml
**/*.dockerignore
**/*.dockerfile

README.md